:root {
  --ny-color-bg: #020710;
  --ny-color-surface: #050d18;
  --ny-color-surface-container: #081525;
  --ny-color-surface-elevated: #0c1d32;
  --ny-color-text: #e1ebf5;
  --ny-color-text-muted: #95adca;
  --ny-color-text-subtle: #6282a3;
  --ny-color-primary: #0066cc;
  --ny-color-primary-hover: #1a85ff;
  --ny-color-primary-active: #004fad;
  --ny-color-primary-text: #ffffff;
  --ny-color-border: #10233c;
  --ny-color-outline: #3399ff;
  --ny-color-shadow: rgba(0, 0, 0, 0.5);
}
