:root {
  --ny-color-bg: #1c0811;
  --ny-color-surface: #260f1b;
  --ny-color-surface-container: #361727;
  --ny-color-surface-elevated: #462035;
  --ny-color-text: #faebf2;
  --ny-color-text-muted: #d9a3be;
  --ny-color-text-subtle: #b37495;
  --ny-color-primary: #ff6699;
  --ny-color-primary-hover: #ff80ab;
  --ny-color-primary-active: #cc3366;
  --ny-color-primary-text: #ffffff;
  --ny-color-border: #4d1d35;
  --ny-color-outline: #ff99bc;
  --ny-color-shadow: rgba(0, 0, 0, 0.5);
}
